<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/myStyle.css" type="text/css">
</head>
<body>
<div th:replace="base :: navlinks"></div>
<h2>About Me</h2>
<p>I am Erica Jenise Gleaton, a native Washingtonian, who graduated from H.D. Woodson High School’s, Academy of Finance and Business program in Spring 1997. I went to Johnson & Wales University in Providence RI were I graduated Cum Laude receiving a Bachelor of Science in Accounting in Spring 2001. Following my graduation in 2001 I began working at Blue Cross Blue Shield as a Budget Analyst II. While working simultaneously at KPMG as a Tax Preparer and I continued my education at Johnson & Wales University and received a second Bachelor of Science in Computer & Information Science in Spring 2003.



    In the Fall of 2003 I returned home to Washington DC, where I has been employed at AvalonBay Communities for over 14 years. My last position was an Application Developer in the Information Technology Department.

    I am a member of Alpha Kappa Alpha Sorority Incorporated, Xi Omega Chapter in Washington DC . I am also a member of Toastmasters International, TNC Speakers Chapter in Arlington VA and a charter member of Xi Omega Speakers Chapter.



    I have a passion for learning new things, playing chess, volunteering, and most of all spending quality time with my son. Additionally, I am one donation away from giving a gallon of blood to the American Red Cross.

    I have been a Vegan / Vegetarian since January 2007.



    I am a Professional Polymath and lifelong learner. I look forward to connecting with you further.</p>

<div th:replace="base :: footer"></div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>